<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/confirmation.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<img src="{{ url_for('static', filename='logo.jpeg') }}" alt=""width="200" height="100">
<body>
    <div class="wrapper">
        <div style="text-align:center">
            <h2>Error: Email already exists, try again.</h2>
            <i class="fa fa-ban" style="font-size:120px;color:#861b13;text-align:center" ></i>
            <p><a href="{{ url_for('registration') }}">Return back to registration form.</a></p>
    
        </div>
    </div>
       
       
    </div>  
    </div>
</body>
</html>