<!DOCTYPE html>
<html lang = 'en'>
    <head>
        <title>Invalid secondary email</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/invalidSec.css') }}">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/31ced41654.js" crossorigin="anonymous"></script>
</head>
<img src="{{ url_for('static', filename='logo.jpeg') }}" alt=""width="200" height="100">
    </head>
    <body>
        <div class="wrapper">
            <div style="text-align:center">
            
            <h1>
                Uh-oh...
            </h1>

            <i class="far fa-ban" style="font-size:120px;color:#2196F3" ></i>

            <h2>
                It seems that the secondary email does not exist. <br> Please complete the form with a valid secondary email.
            </h2>

            </div>
        </div> 
    </body>
</html>